<div class="container">
  <div class="form-group">
    <h1 class="text text-primary">{{titlepage}}</h1>
    <div class="input-group-prepend">
      <input type="text" class="form-control" [formControl]="search" placeholder="Поиск">
    </div>
  </div>

  <div class="container-fluid">
    <table class="table">
      <thead><tr><th scope="col">Имя</th><th scope="col">Ссылка</th> <th scope="col">Превью</th><th scope="col">Действия</th></tr></thead>
        <tbody>
        <tr *ngFor="let emoji of filteredResult | keyvalue; trackBy: globals.trackByFn">
          <td>{{ emoji.key }}</td>
          <td><a [target]="_blank" [href]="emoji.value">{{emoji.value}}</a></td>
          <td class="table__img"><img [src]="emoji.value" width="25" height="25" (mouseover)="globals.showFullImage(emoji)" (mouseout)="globals.hideFullImage(emoji)">
            <span [class.table__img_selected-tooltip]="emoji.key === globals.selected" [class.table__img_tooltip]="emoji.key != globals.notSelected"><img [src]="emoji.value"></span></td>
          <td><span class="input-group-text" (click)="delFav(emoji.key,emoji.value)">[x]</span></td>
        </tr>
        </tbody>
    </table>
  </div>
</div>

