<div class="sidebar">
  <ul class="sidebar__navigation">
    <li class="sidebar__header">Меню</li>
    <li>
      <a routerLink="" routerLinkActive="sidebar_active" [routerLinkActiveOptions]="{exact:true}">
        Все
      </a>
    </li>
    <li>
      <a routerLink="/fav" routerLinkActive="sidebar_active" [routerLinkActiveOptions]="{exact:true}">
        Любимые
      </a>
    </li>
    <li>
      <a routerLink="/del" routerLinkActive="sidebar_active" [routerLinkActiveOptions]="{exact:true}">
        Удаленные
      </a>
    </li>
  </ul>
</div>

<div class="content-container">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>


