<div class="container">
  <div class="form-group">
    <h1 class="text text-primary">{{titlepage}}</h1>
    <div class="input-group-prepend">
      <input type="text" class="form-control" [formControl]="search" placeholder="Поиск">
    </div>
  </div>
  <span class="input-group-text" (click)="getAll()">Обновить список смайликов</span>

  <div class="container-fluid">
    <div class="table">
      <thead><tr><th scope="col">Имя</th><th scope="col">Ссылка</th> <th scope="col">Превью</th><th scope="col" colspan="2">Действия</th></tr></thead>
      <tbody>
        <tr *ngFor="let emoji of filteredResult | keyvalue" [className]="globals.emojisFav[emoji.key] ? 'tr_favorite' : ''">
          <td scope="row">{{ emoji.key }}</td>
          <td><a [target]="_blank" [href]="emoji.value">{{emoji.value}}</a></td>
          <td class="table__img"><img [src]="emoji.value" width="25" height="25" (mouseover)="showFullImage($event, emoji)" (mouseout)="hideFullImage($event, emoji)">
            <span [class.table__img_selected-tooltip]="emoji.key === selected" [class.table__img_tooltip]="emoji.key != notSelected"><img [src]="emoji.value"></span></td>
          <td><span class="input-group-text" (click)="addFav(emoji.key,emoji.value)">*</span></td>
          <td><span class="input-group-text" (click)="delEmoji(emoji.key,emoji.value)">[x]</span></td>
        </tr>
      </tbody>
    </div>
  </div>
</div>
